:root{
   --shadow: 0px 2px 2px #fff;
   --txtshadow: -2px 2px 4px rgb(184, 170, 170);
   --primary: #373737;
   --primarytxt: #EFE3FD;
   --primaryblack: #141010;
 }
.contact--form{
   width: 50%;
   padding: 0 2rem;
   margin: 2rem auto;
   text-align: left;
}
label{
   text-align: left;
}
.imputs{
   text-align: left;
   font-size: 15px;
}
input, select, textarea{
   width: 100%;
   background-color: var(--primaryblack);
   color: var(--primarytxt);
}
option{
   font-size: 13px;
   padding: 2rem;
}
input[type=text]{
   text-transform: capitalize;
}
input[type=text],input[type=email], select, textarea{
   padding: 1rem 2rem;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }
 textarea{
   height: 80px;
   font-size: 17px;
 }
 .form-submit {
   width: max-content;
   background-color: var(--primarytxt);
   color: var(--primaryblack);
   padding: 1rem 2rem;
   font-size: 15px;
   font-weight: 600;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   border: 1px solid var(--primarytxt);
 }
 .form-submit:hover{
   background-color: var(--primaryblack);
   color: var(--primarytxt);
   transition: all .5s ease-in-out;
   
 }
 .social{
   display: none;
 }
@media(max-width:900px){
   .contact--form{
      width: 90%;
   }
}
@media(max-width:500px){
   .contact--form{
      width: 90%;
      padding: 2rem;
   }
   form{
      width: 10 0%;
      margin: auto;
   }
   .social{
      display: flex;
      opacity: 1;
      margin: 2rem auto;
      justify-content: center;
      background: #373737;
      box-shadow: var(--shadow);
      width: max-content;
      padding: 1rem;
   }
}