@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Square+Peg&display=swap');

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}
ul{
   display: flex;
   gap: 2rem;
   list-style: none;
}
a{
   color: #fff;
}
/* ====== logo design ====== */
.tt{
   font-family: 'Great Vibes', sans-serif;
}
h2{
   font-family: 'Square Peg';
   font-size: 50px;
   text-shadow: -2px 2px 4px rgb(184, 170, 170);
   color: #fff;
}
.icons{
   display: flex;
   gap: 7px;
   justify-content: center;
   align-items: center;
}
.whatsapp{
   position: fixed;
   bottom: 100px;
   right: 10px;
   font-size: 50px;
}
@media(max-width:500px){
   nav{
      display: block;
      margin: auto;
      text-align: center;
   }
   ul{
      border: 1px solid #fff;
      border-radius: 10px;
      justify-content: center;
      width: max-content;
      margin: auto;
      padding: .5rem;
   }
   .icons{
      margin: 0;
      gap: 0;
      font-size: 20px;
   }
   .icons > p{
      display: none;
   }  
   i{
      margin: 0;
      padding: 0;
   }
}