@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Square+Peg&display=swap');

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #373737;
   padding: 0 2rem;
}
ul{
   display: flex;
   gap: 2rem;
   list-style: none;
}
a{
   color: #fff;
}
/* ====== logo design ====== */
.tt{
   font-family: 'Great Vibes', sans-serif;
}
h2{
   font-family: 'Square Peg';
   font-size: 50px;
   text-shadow: -2px 2px 4px rgb(184, 170, 170);
}
.icons{
   display: flex;
   gap: 7px;
   justify-content: center;
   align-items: center;
   padding: .1rem;
}

.whatsapp{
   position: fixed;
   bottom: 100px;
   right: 10px;
   font-size: 50px;
   color: rgb(26, 84, 26);
   text-shadow: -2px -3px 3px #fff;
   z-index: 888;
}
@media (max-width:900px){
   .icons{
      flex-direction: column;
      font-size: 10px;
      margin: auto;
      padding: 10px;
   }
   .icons:active, .icons:focus{
      border-radius: 10px;
      background: #000;
   }
   .icons > p{
      font-size: 8px;
   }  
   .icons > i{
      font-size: 20px;
   }
}

@media(max-width:500px){
   nav{
      display: block;
      margin: auto;
   }
   ul{
      position: fixed;
      bottom: 8px;
      left: 50%;
      border: 1px solid #373737;
      background-color: #373737;
      border-radius: 60px;
      align-items: center;
      justify-content: center;
      width: max-content;
      padding: .2rem 0;
      width: calc(90vw);
      left: 0;
      right: 0;
      margin: 0 auto;
      box-shadow: 0px -1px .1px #fff;
      z-index: 9999;
   } 

}