@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Square+Peg&display=swap');
:root{
   --shadow: 0px 2px 2px #fff;
   --txtshadow: -2px 2px 4px rgb(184, 170, 170);
   --primary: #373737;
   --primarytxt: #EFE3FD;
   --primaryblack: #141010;
 }
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #373737;
   padding: 0 2rem;
}
ul{
   display: flex;
   gap: 2rem;
   list-style: none;
}
a{
   color: var(--primarytxt);
}
/* ====== logo design ====== */
.tt{
   font-family: 'Great Vibes', sans-serif;
}
h2{
   font-family: 'Square Peg';
   font-size: 50px;
   text-shadow: var(--txtshadow);
}
.icons{
   display: flex;
   gap: 7px;
   justify-content: center;
   align-items: center;
   padding: .1rem;
   border: 2px solid #373737;
}
.icons:active, .icons:focus{
   border-bottom: 2px solid var(--primarytxt);
}
.whatsapp{
   position: fixed;
   bottom: 100px;
   right: 10px;
   font-size: 50px;
   color: rgb(26, 84, 26);
   text-shadow: -2px -3px 3px var(--primarytxt);
   z-index: 888;
}
@media (max-width:900px){
   .icons{
      flex-direction: column;
      margin: auto;
      padding: 10px;
   }
   .icons:active, .icons:focus{
      border-radius: 10px;
      background: var(--primaryblack);
   }
   .icons > p{
      font-size: 11px;
   }  
   .icons > i{
      font-size: 22px;
   }
}

@media(max-width:500px){
   nav{
      display: block;
      margin: auto;
   }
   ul{
      position: fixed;
      gap: .5rem;
      bottom: 8px;
      left: 50%;
      border: 1px solid var(--primary);
      background-color: var(--primary);
      border-radius: 60px;
      align-items: center;
      justify-content: center;
      width: max-content;
      padding: 0 1rem;
      width: max-content;
      left: 0;
      right: 0;
      margin: 0 auto;
      box-shadow: 0px -1px .1px var(--primarytxt);
      z-index: 9999;
   } 

}