.toolset{
   background: var(--primary);
   text-align: center;
   font-size: 20px;
   padding: 2rem;
}
#light .toolset{
   background: var(--primarylight);
   box-shadow: var(--shadow);
}
hr{
   border: 2px solid var(--primarytxt);
}
.toolset >h3{
   padding: 1rem;
}
.toolset > div{
   display: grid;
   gap: 40px;
   grid-template-columns: repeat(3,1fr);
   width: max-content;
   margin: auto;
   padding: 2rem;
}
.toolset > div > i{
   font-size: 70px;
}

@media(max-width:900px){
   .toolset > div{
      grid-template-columns: repeat(2, auto);
   }
   .toolset > div > i{
      font-size: 50px;
   }
}