@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
:root{
  --shadow: 0px 2px 2px #EFE3FD;
  --txtshadow: -2px 2px 4px rgb(184, 170, 170);
  --primary: #373737;
  --primarytxt: #EFE3FD;
  --primaryblack: #141010;
}
*{
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}
body{
  background:#000;
  background-image: url(../public/images/bgcol.gif);
  background-size: cover;
  font-family: 'Inter';
  font-weight: 400;
  color: var(--primarytxt);
}

.App{
  margin: o auto;
  border-radius: 10px;
}
.myabout{
  margin: 20px auto;
}
.thank-you-home{
  text-align: center;
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}
/* ======== INVALID PAGE DESIGN====== */
.invalid{
  width: 80%;
  height: 71.8vh;
  margin: 18px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 2rem;
  text-align: center;
  text-transform: capitalize;
}
.invalid--img{
  width: 50%;
  margin: auto;
}

.hero-body{
  background-image: url(../public/images/coverbg.png);
  background-position: 100vw;
  background-size: cover;
  width: 100vw;
  height: 92vh;
  display: grid;
  align-items: flex-end;
  position: relative;
  top: 0;
}
.hero-body > main{
  height: inherit;
  margin: auto;
  
}
.hero--text{
  width: 50%;
  letter-spacing: 2px;
  position: absolute;
  bottom: 65px;
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
.abt{
  background: var(--primary);
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 2px 2px var(--primarytxt);
  text-align: center;
}
.abt--paragraph{
  display: block;
  text-align: left;
  margin: .5rem 0;
}
.abt--bold{
  font-weight: 900;
  color: #cccf;
  text-shadow: var(--txtshadow);
  padding: .5rem;
}
.tpl{
  display: block;
  padding: 0;
}
.toolabout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  margin: auto;
  padding: 2rem;
}

a{
  text-decoration: none;
}
.aaa{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  gap: 8px;
  text-decoration: none;
}

.about--img{
  width: 40%;
  margin: auto;
  border-radius: 50% 20%;
}
.abt--links{
  background-color: var(--primaryblack);
  padding: 0 1rem;
}
main{
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  font-size: 16px;
}

main > h3{
  font-weight: 700;
  font-size: 20px;
}


.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--primary);
  padding-bottom: 1rem ;
  bottom: 0;
  color: var(--primarytxt);
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: .6rem;
  border-radius: 0px 0px 10px 10px;
}
small{
  text-align: center;
}

/* ====== MEDIA QUERIES ====== */
@media (max-width:900px){
  .App{
    width: 100%;
    background-image: url(../public/images/7gRx.gif);
    background: inherit;
  }

 .toolabout{
  grid-template-columns: auto;
  gap: 50px;
}
.int{
  height: 0;
}
.hero-body{
  height: 70vh;
}
}
@media (max-width:500px){
  .hero{
    height: 100vh;
    position: relative;
  }
  .App{
    width: 100%;
    margin: 0;
    height: max-content;
    padding: 0;
  }
  .hero-body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero--text{
    width: 70%;
    bottom: 130px;
    font-size: 25px;
    z-index: 888999;
  }
  .tpl{
    font-size: 13px;
  }
  main{
    width: 90%;
    margin: auto;
  }

  .footer{
    display: none;
 }
 .int{
  height: 50px;
 }
 .myabout{
  margin-top: 10px;
  margin-bottom: 100px;
 }
}