@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
:root{
  --shadow: 0px 2px 2px #fff;
}
*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background:#373737;
  background-image: url(../public/images/7gRx.gif);
  background-size: cover;
  font-family: 'Inter';
  font-weight: 400;
  color: #fff;
}

.App{
  margin: o auto;
  border-radius: 10px;
}

.contact{
  background-image: url(../public/images/coverbg.png);
  background-position: 100vw;
  background-size: cover;
  width: 100vw;
  height: 60vh;
  display: grid;
  align-items: flex-end;
  position: relative;
  top: 0;
}
.contact > main{
  height: inherit;
  margin: auto;
  
}
.contact > main > p{
  font-family: 'Square Peg', sans-serif;
  width: 40%;
  position: absolute;
  bottom: 40px;
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
.abt{
  background: #373737;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 2px 2px #fff;
}
.tpl{
  display: block;
  padding: 0;
}
.toolabout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  width: 90%;
  margin: auto;
  padding: 2rem;
}


a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  gap: 8px;
  text-decoration: none;
}

a > img{
  padding: 0;
  margin: 0;
}

.contact-btn{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 15px;
  padding: 1.5rem 0;
}

.contact-btn > img{
  width: 16px;
}

.contact-btn-mail{
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  color:  #374151;
}

.contact-btn-lkd{
  background: #5093E2;
  border: 1px solid #5093E2;
}
.about--img{
  width: 40%;
  margin: auto;
  border-radius: 50% 20%;
}
main{
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  font-size: 16px;
}

main > h3{
  font-weight: 700;
  font-size: 20px;
}

main > p{
  margin: 1rem 0;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #373737;
  padding-bottom: 1rem ;
  bottom: 0;
  color: #EFE3FD;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: .6rem;
  border-radius: 0px 0px 10px 10px;
}
small{
  text-align: center;
}

/* ====== MEDIA QUERIES ====== */
@media (max-width:900px){
  .App{
    width: 100%;
    background-image: url(../public/images/7gRx.gif);
    background: inherit;
  }
  .footer{
    display: none;
 }
 .int{
  height: 100px;
 }
}
@media (max-width:500px){
  .hero{
    height: 100vh;
    position: relative;
  }
  .contact{
    height: 80vh;
  }
  .toolabout{
    grid-template-columns: auto;
    gap: 50px;
  }
  .App{
    width: 100%;
    margin: 0;
    height: max-content;
    padding: 0;
  }
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact--details{
    text-align: center;
  }
  .contact--details > h3{
    font-size: 30px;
  }
  .contact--details > p{
    font-size: 15px;
  }
  .tpl{
    font-size: 13px;
  }
  
  main{
    width: 90%;
    margin: auto;
  }
  .contact > main > p{
    width: 60%;
    bottom: 90px;
    font-size: 30px;
  }
}