@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
:root{
  --shadow: 0px 2px 2px #000;
}
*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #E5E5E5;
  background-image: url(../public/images/7gRx.gif);
  background-size: cover;
  font-family: 'Inter';
  font-weight: 400;
  color: #3700B3;
}

.App{
  margin: 2rem auto;
  color: #1F1F1F;
  border-radius: 10px;
  padding: 1rem;
}

.contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.tpl{
  color:#fff;
  display: block;
  padding: 0;
}
.contact--img{
  width: 100%;
  border-radius: 50%;
  margin: 1rem auto;
  padding: 3rem;
}
.contact--details > h3{
  font-weight: 700;
  font-size: 45px;
  margin-top: 2rem;
}

.contact--details > p{
  color: rgb(219, 196, 196);
  font-size: 23px;
  font-weight: 800;
}


a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  gap: 8px;
  text-decoration: none;
}

a > img{
  padding: 0;
  margin: 0;
}

.contact-btn{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 15px;
  padding: 1.5rem 0;
}

.contact-btn > img{
  width: 16px;
}

.contact-btn-mail{
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  color:  #374151;
}

.contact-btn-lkd{
  background: #5093E2;
  border: 1px solid #5093E2;
  color: #fff;
}

main{
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  font-size: 16px;
  color: #fff;
}

main > h3{
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

main > p{
  margin: 1rem 0;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #373737;
  padding-bottom: 1rem ;
  bottom: 0;
  color: #EFE3FD;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: .6rem;
  border-radius: 0px 0px 10px 10px;
}
small{
  text-align: center;
}

/* ====== MEDIA QUERIES ====== */
@media (max-width:900px){
  .App{
    position: static;
    width: 100%;
    background-image: url(../public/images/7gRx.gif);
    background: inherit;
    box-shadow: none;
    margin-bottom: 100px;
  }
  .footer{
    display: none;
 }
 .int{
  height: 100px;
 }
}
@media (max-width:500px){
  .hero{
    height: 100vh;
    position: relative;
  }
  .App{
    width: 100%;
    margin: 0;
    height: max-content;
    padding: 0;
  }
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact--details{
    text-align: center;
  }
  .contact--details > h3{
    font-size: 30px;
  }
  .contact--details > p{
    font-size: 15px;
  }
  .tpl{
    font-size: 13px;
  }
  .contact-btn{
    margin: auto;
  }
  .contact--img{
    width: 80%;
    margin:2rem auto 0;
  }
  main{
    width: 90%;
    margin: auto;
  }
}